.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #533a1e;
    color: white;
    position: fixed;
}

.sidebar h2{
    text-shadow: 2px 2px 10px rgba(250, 187, 135, 0.788);
    color: white;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.sidebar a:hover {
    background-color: lightgray;
    border: 2px solid #e8e5dc;
    color: #533a1e;
    font-weight: bold;
}

.content {
    margin-left: 260px;
    padding: 20px;
}

.content h1{
    color: #5a4b3f;
    text-shadow: 2px 2px rgb(209, 179, 144);
    text-align: center;
}

h2{
    color: #a27b5c;
}

.table-responsive{
    border-radius: 20px;
    box-shadow: 10px 10px 5px lightgray;
}

thead{
    background-color: #036280;
}

td img{
    width: 25px;
    margin-left: 20px;
}

td img:hover{
    transform:scale(1.5)
}

tbody tr td:hover {
    cursor: pointer;
}

.btn-primary{
    margin-top: 30px;
    background-color: #533a1ea9;
    border: #533a1ea9 solid 2px;
    color: white;
    
}

.btn-primary:hover{
    background-color: white;
    color: #533a1e;
    box-shadow: 10px 10px 5px lightgray;
    border: #533a1ea9 solid 2px;
}

.card{
    margin-top: 20px;
}

.card:hover{
    transform: skewX(15deg);
}

.card-body{
    color: #012e4a;
}

.shadow-card-1 {
    box-shadow: 0 4px 8px rgb(3, 74, 116), 0 2px 40px rgba(103, 163, 219, 0.829) inset;
}

.shadow-card-2 {
    box-shadow: 0 4px 8px rgb(2, 92, 2), 0 2px 40px rgb(44, 190, 31, 0.829) inset;
}

.shadow-card-3 {
    box-shadow: 0 4px 8px rgb(119, 69, 5), 0 2px 40px rgba(201, 140, 71, 0.829) inset;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .content {
        margin-left: 0;
    }
    td img{
        margin-bottom: 10px;
    }
}